.navItem {
  color: rgb(122, 122, 122);
  text-decoration: none;
  font-weight: 350;
  font-size: 0.98rem;
}

.navItem:not(:last-child) {
  margin-right: 30px;
}

.mobile-nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1; /* So images don't float over the navbar */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navItem:not(:last-child) {
    margin-right: 20px;
  }
}
