.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  column-gap: 20%;
  padding-top: 35px;
}

.column {
  flex: 30%;
  max-width: 47%;
}

.column img {
  vertical-align: middle;
  width: 100%;
  padding-bottom: 20px;
}

.socials {
  display: block;
  position: absolute;
  padding-bottom: 20px;
  bottom: 0;
}

.socialButton {
  padding: 0px;
  background-color: rgb(250, 250, 250);
  border: none;
  margin-right: 10px;
}

.refresh {
  /* border-radius: 10; */
  border-radius: 100px;
  padding: 5px 15px;
  background-color: rgb(250, 250, 250);
  font-size: 1rem;
}

.text {
  position: relative;
}

.alex {
  font-size: 1.5rem;
  padding-bottom: 25px;
}

.points {
  padding-bottom: 25px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    padding-top: 5px;
  }
}
